html {
  font-size: 38%;
  @include media-breakpoint-down(sm) {
    font-size: 50%;
    margin: 0;
  }
  @media (min-width: 858px) {
    font-size: 50.5%;
  }
  @media (min-width: 1037px) {
    font-size: 57%;
  }
}


/* type */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @include font-opensans;
  font-weight: 900;
  line-height: 1.1;
  color: #333333;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-bottom: 20px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 18px;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
.text-small {
  font-size: 12px;
}
.text-large {
  font-size: 18px;
}
.text-italic {
  font-style: italic;
}
.text-primary {
  color: #38a7bb;
}



a.text-primary:hover {
  color: #2c8494;
}
.bg-primary {
  color: #fff;
  background-color: #38a7bb;
}

.bg-img {
  background-image: url("/img/wave.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

a.bg-primary:hover {
  background-color: #2c8494;
}

abbr[title],
abbr[data-original-title] {
  border-bottom: 1px dotted #999999;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 14px;
  border-left: 5px solid #38a7bb;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #999999;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  border-right: 5px solid #38a7bb;
}
address {
  margin-bottom: 20px;
  line-height: 1.42857143;
}
