#blog-post {
  font-size: 1.8rem;
  color: #404040;
  line-height: 1.8;
  font-weight: 400;

  table {
    width: 100%;
  }
  p{
    padding: 20px 0px;
  }

  .list{
    line-height: 26px;
    margin-bottom: 0;
    font-size: 18px !important;
  }

  ol>li>p{
    padding: 3px 0px;
  }
  .adobe-xd{
    /*margin-bottom: -30px;*/
  }

  .roundcorner {
    border-radius: 30px;
  }

}
