$btn-border-color: #5f5f5f;
$btn-hover: #f3f3f3;

.cf-btn-primary {
  display: inline-block;
  margin-bottom: 47px;
  @include font-lato;
  color: #fff;
  padding: .10rem 6rem;
  border-style: solid;
  border-color: $btn-border-color;
  border-radius: 40px;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 5px;
  transition: all 0.2s ease-out;
  &:hover{
    background-color: $btn-dark;
    border-color: $btn-dark;
  }
  .voting-flag{
    font-size: 5rem;
    font-weight: 200;
    letter-spacing: .5rem;
    padding: 2rem 0;
  }

  &.cf-btn-sm{
    font-size: 2rem;
    padding: .2rem 3rem;
  }
}
