$btn-border-color: #5f5f5f;
$btn-hover: #f3f3f3;

.cf-btn-primary {
  padding: .10rem 6rem;
  border-style: solid;
  border-color: $btn-border-color;
  border-radius: 40px;
  font-size: 3rem;
  &:hover{
    background: $btn-hover;
  }
  .voting-flag{
    font-size: 5rem;
    font-weight: 200;
    letter-spacing: .5rem;
    padding: 2rem 0;
  }

  &.cf-btn-sm{
    font-size: 2rem;
    padding: .2rem 3rem;
  }
}
