.cf-btn-primary {
  @include font-lato;
  color: #fff;
  padding: .10rem 6rem;
  border-style: solid;
  border-color: $btn-light;
  background-color: $btn-light;
  border-radius: 40px;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 5px;
  transition: all 0.2s ease-out;
  &:hover{
    background-color: $btn-dark;
    border-color: $btn-dark;
  }
  .voting-flag{
    font-size: 5rem;
    font-weight: 200;
    letter-spacing: .5rem;
    padding: 2rem 0;
  }
}