$nav-border-color:#e4e4e4;

#header{
  transition: all .5s ease 0s;
  top: 0;
  &.nav-hidden{
    top: -90px;
  }
  border: solid;
  border-width: 1px;
  border-color: $nav-border-color;
  background: white;
  .navbar-brand>h1{
    font-size: 3rem;
    letter-spacing: 1rem;
    font-weight: 100;
    line-height: 4rem;
    margin: 0;
  }

  .navbar>*{
    @include media-breakpoint-down(md) {
      margin: 0 auto;
    }
  }

}