$secondary-color: #da001b;
$subtitle-color : #8e9092;
$text-dark: #1b1c16;
$text-light: #95989a;
$btn-light: #607d9d;
$btn-dark: #8e9092;
@mixin font-lato {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
@mixin font-opensans{
  font-family: "Open Sans", sans-serif;
}