<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        {{ partial "top_title_card.html" . }}

        <!--<header class="floating-top">-->

          <!--{{ partial "nav.html" . }}-->

        <!--</header>-->

        {{ partial "platform.html" . }}

        <!--{{ partial "portfolio.html" . }}-->

        <!--{{ partial "testimonials.html" . }}-->

        <!--{{ partial "see_more.html" . }}-->

        <!--{{ partial "recent_posts.html" . }}-->

        <!--{{ partial "clients.html" . }}-->

        <!--{{ partial "footer.html" . }}-->

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
