<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header id="header" class="fixed-top nav-hidden">

            {{ partial "nav.html" . }}

        </header>

        {{ partial "top_title_card.html" . }}

        {{ partial "more_about.html" . }}

        {{ partial "platform.html" . }}

        {{ partial "call_to_action.html" . }}

        <!--{{ partial "portfolio.html" . }}-->

        <!--{{ partial "testimonials.html" . }}-->

        <!--{{ partial "see_more.html" . }}-->

        <!--{{ partial "recent_posts.html" . }}-->

        <!--{{ partial "clients.html" . }}-->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
