<footer id="footer">
    <div class="container text-center">
        <div class="vote-for">{{ safeHTML .Site.Params.footer.main_title }}</div>
        <div class="fresh-senator">{{ safeHTML .Site.Params.footer.second_title }}</div>
        <div class="row">
            <div class="col-md-12">
                <a href="{{.Site.Params.facebook}}"><img class="icon" src="/icons/facebook.png"></a>
            </div>
        </div>
        <div class="madeby-tagline">
            <div class="row">
                <div class="col-md-12">
                    {{ .Site.Params.copyright | safeHTML}}
                </div>
            </div>
        </div>
    </div>
</footer>