<footer id="footer">
    <div class="container text-center">
        <div class="vote-for"><span>Vote</span> for</div>
        <div class="fresh-senator">TYLER BROOKS</div>
        <div class="row">
            <div class="col-md-12">
                <a href="https://www.instagram.com/tyler.brooks1/"><img class="icon" src="/icons/instagram-social-outlined-logo.svg"></a>
                <a href="https://www.linkedin.com/in/tyler-brooks"><img class="icon" src="/icons/linkedin-social-outline-logotype.svg"></a>
            </div>
        </div>
        <div class="madeby-tagline">
            <div class="row">
                <div class="col-md-12">
                    made by SourceFlask, the consulting arm of <a href="https://www.facebook.com/UXSocChapmanU">User Experience Society ChapmanU</a>
                </div>
            </div>
        </div>
    </div>
</footer>