
{{ if isset .Site.Params "morea_about" }}
{{ if .Site.Params.morea_about.enable }}

<section class="bar background-white" id="more-about">
    <div class="moreabout container">
        <h1 class="section-title">{{ .Site.Params.morea_about.title }}</h1>

        <div class="row">

            <div class="col-lg-6" style="background-color: blue">
                <div></div>
            </div>

            <div class="col-lg-6" style="background-color: red">

            </div>
        </div>


    </div>
</section>
{{end}}
{{end}}