<section class="bar background-white" id="more-about">
    <div class="moreabout container">
        <h1 class="section-title">More About The Event</h1>
        <div id="about-me">
            <div class="row">
                <div class="col-md-5">
                        <img class="img-fluid" src="img/about.jpg" alt="Students with poster">
                </div>
                <div class="col-md-7">
                    <p class="tagline">The Southern Californian Chapters of the American Statistical Association organized
                        the AP Statistics Poster Competition as <strong>an avenue for aspiring statisticians</strong>
                        from high school to shine with data-driven discovery through statistics.

                        <br><br>

                        <strong>60 teams will be chosen</strong> from those who apply and will be asked to
                        <strong>present an informational poster</strong> about their study.
                        Teams who place <strong>win up to $100.</strong></p>
                </div>
            </div>
        </div>
    </div>
</section>