<section class="bar background-white" id="more-about">
    <div class="moreabout container">
        <h1 class="section-title">More About Tyler</h1>
        <div id="about-me">
            <div class="row">
                <div class="col-md-6">
                        <img class="img-fluid" src="img/about.jpg" alt="Students with poster">
                </div>
                <div class="col-md-6">
                    <p class="tagline">The SOuthern Californian Chapters of the American Statistical Association organized the AP Statistics Poster Competition as an avenue for aspiring statisticians from high school to shine with data-driven discovery through statistics. 60 teams will be chosen from those who apply and will be asked to present an informational poster about their study. Teams who place win up to $100.</p>
                </div>
            </div>
        </div>
    </div>
</section>