<nav class="navbar navbar-toggleable-md navbar-light" role="navigation">
    <a class="navbar-brand" href="/" title="Hubble" rel="home">
        <h1><span class="vote-for">NSU</span></h1>
    </a>
    <div class="pull-left">
        <div class="nav-link">
            <a class="links" href="#">Gallery</a>
        </div>
    </div>
    <div class="centered">
        <div class="nav-link">
        <a class="links" href="#">Events</a>
        </div>
    </div>
    <div class="centered">
        <div class="nav-link">
            <a class="links" href="#">About Us</a>
        </div>
    </div>
    <div class="centered">
        <div class="nav-link">
            <a class="links" href="#">Contact Us</a>
        </div>
    </div>
    <div class="pull-right">
        <div class="nav-link">
            <a class="join-us" href="#">JOIN US</a>
        </div>
    </div>
</nav>