<nav class="navbar navbar-dark navbar-expand-md justify-content-between">
    <a href="/" class="navbar-brand"><h1><span class="vote-for">NSU</span></h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar2" style="color:white;">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between" id="collapsingNavbar2">
        <div><!--placeholder to evenly space flexbox items and center links--></div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="links" href="#">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="links" href="//codeply.com">Events</a>
            </li>
            <li class="nav-item">
                <a class="links" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="links" href="#">Contact Us</a>
            </li>
        </ul>
        <ul class="nav navbar-nav flex-row">
            <li class="nav-link">
                <a class="join-us" href="#">JOIN US</a>
            </li>
        </ul>
    </div>
</nav>

<!--<nav class="navbar navbar-dark navbar-fixed-top navbar-expand-md">-->
    <!--<div class="d-flex">-->
        <!--<a class="navbar-brand" href="#"><h1><span class="vote-for">NSU</span></h1></a>-->
    <!--</div>-->
    <!--<button class="navbar-toggler order-3" type="button" data-toggle="collapse" data-target="#collapsingNavbar">-->
        <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->
    <!--<div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">-->
        <!--<ul class="navbar-nav">-->
            <!--<li class="nav-item">-->
                <!--<a class="links" href="#">Gallery</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="links" href="//codeply.com">Events</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="links" href="#">About Us</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="links" href="#">Contact Us</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<span class="navbar-text small text-truncate mt-1"><a class="join-us" href="#">JOIN US</a></span>-->
<!--</nav>-->