<section class="bar background-white" id="our-toolkit">
    <div class="features container">
        <h1 class="section-title">Platform</h1>
        <div id="what-we-do">
            <div class="row">
            {{ range $index, $element := sort .Site.Data.platform "weight" }}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="box-simple">
                            <div class="icon">
                                <img src="{{ .icon }}">
                            </div>
                            <h3>{{ $element.name }}</h3>
                            <p>{{ $element.description | markdownify }}</p>
                        </div>
                    </div>
            {{ end }}
            </div>
        </div>
    </div>
</section>