{{ if isset .Site.Params "see_more" }}
{{ if .Site.Params.see_more.enable }}
<section class="bottom-gradient no-mb color-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="bottom-title">
                    <span >want that <span id="bottom-title-animate-message">amazing website?</span></span>
                    <span class="flickering-seperator">|</span>
                </h3>
                <p class="text-center">
                    <a href="{{ .Site.Params.see_more.link_url }}">WORK WITH US</a>
                </p>
            </div>

        </div>
    </div>
</section>
{{ end }}
{{ end }}
