{{ if isset .Site.Params "top_title_card" }}
{{ if .Site.Params.top_title_card.enable }}
<section  id="title-card">
    <div class="row">
        <div class="col-md-6 order-md-1 order-2 no-gutters">
            <div class="container d-flex align-items-center h-100">

                <div  class="call-to-action-block">
                    <div class="vote-for" ><span>Vote</span> for</div>

                    <div class="fresh-senator">TYLER </br> BROOKS</div>

                    <div class="fresh-senator-subtitle">student org senator</div>

                    <div class="voting-starts">
                        <span id="vote-title"></span>
                        <div id="clock"></div>
                        <a class="vote-btn" href="http://www.chapmanvotes.com/">VOTE NOW</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 order-md-2 order-1 no-gutters">
            <div class="cover-container">
                <img src="/img/top_contrast.jpg">
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
