.bottom-gradient {
    position: relative;
    padding: 90px 0;
	background: linear-gradient(65.29deg, #F48AA4 18.08%, #AC65A9 54.44%, #A562A8 60.5%, #7552A1 104.65%);

	.bottom-title {
		font-size: 4rem;
		font-weight: 600;
		color: #fff;
		margin-bottom: 60px;
		@media (max-width: 991px) { 
				font-size: 36px;

		}
		@media (max-width: 575px) { 
				font-size: 20px;

		}
		#bottom-title-animate-message>span {
			color: #ff979e;
		}
	}
	@-webkit-keyframes flicker
	{
		0% {opacity:0;}
		49% {opacity:0;}
		50% {opacity:1;}
	}

	.flickering-seperator{
		-webkit-animation: flicker .9s infinite;
	}

	a:link,
	a:visited {
		font-size: 16px;
		letter-spacing: 5px;
		padding: 10px 50px 10px 50px;
		color: #fff;
		border: 2px solid #ff979e;
		background-color: #ff979e;
		border-radius: 30px;
		transition: all 0.2s ease-out;
		text-decoration: none;
	}

	a:hover,
	a:active {
		/*font-weight: 700;*/
		background-color: #eb747c;
		border-color: #eb747c;
	}
}