.portfolio-list{
  padding: 30px 0px;
  .same-height-row {
    @media (min-width: 970px) {
      display: flex;
    }
    .col-md-6{
      display: flex;
      flex-direction: column;
    }
  }
  .project-desc{
    flex:1;
    padding-bottom: 40px;
    .see-more-link{
      position: absolute;
      bottom: 20px;

    }
  }
}