.projects {
	.project-pic {
		width: 100%;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
	}
	.project-desc {
		border: 1px solid #B09AE4;
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
		border-top: none;
		padding: 20px 30px 30px 30px;
	}

	p {
		color: #95989A;
	}

	.project-title {
		font-size: 3rem;
		font-weight: 700;

	}

	.project-blurb {
		font-size: 2rem;
		font-weight: 400;
		margin-bottom: 40px;
	}

	a:link,
	a:visited {
		font-size: 1.5rem;
		letter-spacing: 5px;
		padding: 10px 50px 10px 50px;
	  	@media (max-width:575px)
	    {
	      padding: 10px 25px 10px 25px;
	    }
    	@media (max-width:320px)
	    {
	      padding: 10px 20px 10px 20px;
	      font-size: 1rem;
	    }

		color: #734BCE;
		border: 2px solid #734BCE;
		border-radius: 30px;
		transition: all 0.2s ease-out;
		text-decoration: none;
	}

	a:hover,
	a:active {
		font-weight: 700;
		color: #fff;
		background-color: #734BCE;
	}

	.col-md-6
	{
		margin-bottom:20px;
	}
	
}