#call-to-action {
  @include font-lato;
  //font-size: 3rem;
  //margin: 0 auto;
  //position: relative;

  .voting-starts {
    padding-top: 4rem;
  }

  .vote-for {
    line-height: 3rem;
    font-size: 6rem;
    padding-bottom: 2rem;
    & > span {

      font-weight: bolder;
    }
  }

  .fixcolor {
    color: #fff;
  }

  .voting-flag {
    font-size: 5rem;
    letter-spacing: .5rem;
    font-weight: 200;
    padding: 2rem 0;
  }

  .question {
    padding: 2rem;
    font-size: 1.9rem;
    font-weight: 500;
  }

  .sub-title{
    font-size: 1.2rem;
  }
}