#call-to-action {
  @include font-lato;
  padding-top: 5rem;
  padding-bottom: 5rem;

  .voting-starts {
    padding-top: 4rem;
  }

  .vote-for {
    font-size: 5rem;
    padding-bottom: 4rem;
    &>span {
      font-weight: bolder;
    }
  }

  .fixcolor {
    color: #fff;
  }

  .voting-flag {
    font-size: 5rem;
    letter-spacing: .5rem;
    font-weight: 200;
    padding: 2rem 0;
  }

  .question {
    margin-top: 20px;
    padding: 2rem;
    font-size: 1.9rem;
    font-weight: 500;
  }

  .sub-title{
    font-size: 1.5rem;
    color: $text-light;
  }

  a:link,
  a:visited {
    @include font-lato;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 5px;
    padding: 10px 50px 10px 50px;
    background-color: $btn-light;
    color: #fff;
    border: 2px solid $btn-light;
    border-radius: 30px;
    transition: all 0.2s ease-out;
    text-decoration: none;
  }

  a:hover,
  a:active {
    @include font-lato;
    background-color: $btn-dark;
    border-color: $btn-dark;
  }
}