.moreabout {
  /*may need to be made more responcive*/
  padding-top: 5em;
  padding-bottom: 5em;

  @include media-breakpoint-down(sm) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
  }

  .buttons-gap {
    margin-right: 10px;
  }

  .reflow-gap {
    margin-bottom: 4rem;
  }

  .flavor-img {
    object-fit: cover;
    border-radius: 30px;
    width: 100%;
    max-height: 40rem;
  }

  .sub-title {
    color: $secondary-color;
    font-size: 2em;
  }

  .sub-buttons {
    padding: 5em 0em 4em 2em;
    margin-right: 0.1em;

  }

  .tab-content {
    margin-top: 2em;
  }

  .cf-btn-primary {
    background-color: $btn-dark;
    border-color: $btn-dark;

    &:hover,
    &:active{
      background-color: $btn-light;
      border-color: $btn-light;
    }

  }

}

