.moreabout {
  /*may need to be made more responcive*/
  padding-top: 5em;
  padding-bottom: 5em;

	@include media-breakpoint-down(sm) {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

    .buttons-gap {
      margin-right: 10px;
    }

  .flavor-img {
    object-fit: cover;
    border-radius: 30px;
    width: 100%;
    max-height: 40em;
  }
}

