.features {
	@media (min-width: 991px) {
		margin-top: 40px;

		#what-we-do {
			margin-top: 60px;
			margin-left: 20px;
			margin-right: 20px;
		}
		#what-we-do > div:not(:last-child) {
			margin-bottom: 60px;
		}
	}
	@media (min-width: 575px) {
		margin-top: 20px;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #95989A;
	}

	.info-block {
		font-size: 4rem;
		@media (max-width: 991px) {
			font-size: 3.5rem;
		}
		@media (max-width: 575px) {
			font-size: 2.5rem;
		}
		padding-left: 30px;
		margin: 5rem 0 5rem 2rem;
		border-left-width: 1px;
		border-left-style: solid;
		border-left-color: #95989A;
		font-weight: 300;
		font-style: italic;
		line-height: 1.55;
		span {
			font-weight: 400;
			color: #FF979E;
		}
		color: #95989A;

		.semibold {
			font-weight: 600;
		}
	}

	/* Icon Animation and Text Formatting */
	.box-simple > p {
	  font-weight: 400;
	  font-size: 1.7rem;
	  color: #95989A;
	  line-height: 1.8;
	  @media (max-width: 991px) {
		font-size: 2rem;
	  }
	}

	.box-simple {
      margin-bottom: 40px;
      @media (max-width: 991px) {
	  	text-align: center;
	  }
  	}
    
    .box-simple .icon {
    	color: #38a7bb;
    	-webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
  		transition: all 0.2s ease-out;
	}

	.box-simple h3 {
	  margin-top: 2.5rem;
	  margin-bottom: 10px;
	  font-weight: 700;
	  font-size: 3rem;
	  color: #95989A;
	}

	.icon {
	  display: inline-block;
	  width: 128px;
	  height: 128px;
	  color: #fff;
	  line-height: 80px;
	  border-radius: 40px;
	  border: solid 1px #fff;
	  font-size: 20px;
	}

	.box-simple:hover .icon {
	  -webkit-transform: scale(1.1, 1.1);
	  -ms-transform: scale(1.1, 1.1);
	  -o-transform: scale(1.1, 1.1);
	  transform: scale(1.1, 1.1);
	}
}

