.features {
	@media (min-width: 991px) {
		margin-top: 40px;

		#what-we-do {
			margin-top: 60px;
			margin-left: 20px;
			margin-right: 20px;
		}
		#what-we-do > div:not(:last-child) {
			margin-bottom: 60px;
		}
	}
	@media (min-width: 575px) {
		margin-top: 20px;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #95989A;
	}

	.info-block {
		font-size: 4rem;
		@media (max-width: 991px) {
			font-size: 3.5rem;
		}
		@media (max-width: 575px) {
			font-size: 2.5rem;
		}
		padding-left: 30px;
		margin: 5rem 0 5rem 2rem;
		border-left-width: 1px;
		border-left-style: solid;
		border-left-color: #95989A;
		font-weight: 300;
		font-style: italic;
		line-height: 1.55;
		span {
			font-weight: 400;
			color: #FF979E;
		}
		color: #95989A;

		.semibold {
			font-weight: 600;
		}
	}
	.box-simple > p {
		@media (max-width: 991px) {
			font-size: 2rem;
		}
	}
}

