section {
  padding: 0 0.4rem;
  h1.section-title {
    color: $secondary-color;
    font-family: "Lato", Helvetica, Arial, sans-serif;

    padding: 2rem 0;
    font-size: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-weight: 400;
  }

  .no-gutters {
    padding: 0 !important;
  }

  &.background-gray {
    background: #f3f3f3;
  }
  &.background-white{
    margin-left:2.5%;
    margin-right: 2.5%;
  }
}