#title-card{
  padding-bottom: 3rem;
  @include media-breakpoint-up(md) {
    padding-bottom: 0;
  }
  &>div {
    background: #f9f9f9;
  }
  
  .cover-container{
    overflow: hidden;
    img{
      width: 100%;
    }

    margin-bottom: 5rem;
    @include media-breakpoint-up(md) {
      height: 100vh;
      max-height: 109vw;
      margin-bottom: 0;
      img{
        height: 100%;
        float: left;
        width: auto;
        left: -35vh;
        position: relative;
      }
    }
    height: auto;

  }

  .call-to-action-block{
    @include font-lato;
    font-size: 3rem;
    margin: 0 auto;
    position: relative;
    .fresh-senator{
      font-size: 5rem;
      font-weight: 100;
      letter-spacing: 0.5rem;
    }

    .fresh-senator-subtitle{
      font-weight: 100;
      font-size: 3rem;

    }
    .voting-starts{
      padding-top: 4rem;
    }

    .vote-for{
      line-height: 3rem;
      font-size: 6rem;
      padding-bottom: 2rem;
      &>span{
        font-weight: bolder;
      }
    }

  }

  a:link,
  a:visited {
    @include font-lato;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 5px;
    padding: 10px 50px 10px 50px;
    background-color: $btn-light;
    color: #fff;
    border: 2px solid $btn-light;
    border-radius: 30px;
    transition: all 0.2s ease-out;
    text-decoration: none;
  }

  a:hover,
  a:active {
    @include font-lato;
    background-color: $btn-dark;
    border-color: $btn-dark;
  }
}

