#title-card{
  padding-bottom: 3rem;
  margin-bottom: 6rem;
  background: #f9f9f9;
  .cover-container{
    overflow: hidden;
    img{
      width: 100%;
    }

    margin-bottom: 5rem;
    @include media-breakpoint-up(md) {
      height: 100vh;
      margin-bottom: 0;
      img{
        height: 100%;
        float: left;
        width: auto;
        left: -35vh;
        position: relative;
      }
    }
    height: 50vh;

  }

  .call-to-action-block{
    @include font-lato;
    font-size: 3rem;
    margin: 0 auto;
    position: relative;
    .fresh-senator{
      font-size: 7rem;
      letter-spacing: 2rem;
      font-weight: 100;
      line-height: 9rem;
    }

    .fresh-senator-subtitle{
      font-weight: 100;
      font-size: 3rem;

    }
    .voting-starts{
      padding-top: 4rem;
    }

    .vote-for{
      line-height: 3rem;
      font-size: 6rem;
      padding-bottom: 2rem;
      &>span{
        font-weight: bolder;
      }
    }

  }
}

