#title-card{
  @media screen and ( min-height: 1000px ){
    .row>div {
      display: block;
      width: 100%;
      max-width: 100%;
      flex: none;
    }

    .order-2{
      order: 2;
    }

    .order-1{
      order: 1;
    }
  }

  .title_button{
    margin-bottom: 47px;
  }

  padding-bottom: 3rem;
  @include media-breakpoint-up(md) {
    padding-bottom: 0;
  }
  &>div {
    background: #f9f9f9;
  }
  
  .cover-container{
    overflow: hidden;
    img{
      width: 100%;
    }

    margin-bottom: 5rem;
    @include media-breakpoint-up(md) {
      @media screen and ( max-height: 1000px ) {

        height: 100vh;
        margin-bottom: 0;
        img {
          height: 100%;
          float: left;
          width: auto;
          left: -20vh;
          position: relative;
        }
      }
    }
    height: auto;

  }

  .call-to-action-block{
    @include font-lato;
    margin: 0 auto;
    @media (max-width: 991px) {
        margin: 2.5%;
    }
    position: relative;
    .fresh-senator{
      @media (max-width: 1222px) {
        font-size: 4rem;
      }
      @media (max-width: 991px) {
        font-size: 6rem;
      }
      @media (max-width: 576px) {
        font-size: 3.5rem;
      }
      font-size: 5rem;
      font-weight: 100;
      letter-spacing: 0.5rem;
    }

    .fresh-senator-subtitle{
      margin-bottom: 30px;
      font-weight: 100;
      font-size: 3rem;
      @media(max-width: 1222px) {
        font-size: 2.5rem;
      }
      @media (max-width: 991px) {
        font-size: 4rem;
      }
      @media (max-width: 576px) {
        font-size: 2.6rem;
      }
    }
    .voting-starts{
      padding-top: 4rem;
    }

    .vote-for{
      line-height: 3rem;
      font-size: 6rem;
      padding-bottom: 2rem;
      &>span{
        font-weight: bolder;
      }
    }

  }

}

